body, html {
    height: 100%;
    margin: 0;
    font-family:'DM sans', sans-serif;
    color: #777;
}

/* Header part */
.container {
    max-width: 100%;
    border-radius: 4px;
    background-color: rbg(255,255,255);
}
#about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_pic {
    height: 80px;
    width: 500px;
    margin-top: 10px;
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax-about {
    position: relative;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 60%;
    background-image: url("./about_doggy.jpg")
  }
.head_text {
    width: 500px;
    margin-right: auto;
    margin-left:auto;
    padding-top: 110px;
}
.head_text h1 {
    color: white;
    text-align: left;
}
.head_text p {
    text-align: left;
}
.bigger {
    font-size: 20px;
    color: white;
}
.smaller {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#nav {
    height: 60px; 
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255,255,255);
}
#nav ul {
    border-radius: 4px;
    overflow: hidden;

}
#nav li {
    float: left;
    width: 20%;
}
#nav li:hover a::before {
    right: 0;
    left: 0;
}
#nav .inactive a {
    color: #848484;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#nav .active a {
    color: #afd146;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#nav a:hover {
    color:  #e19d36;
}
#nav a::before {
    content: "";
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e19d36;
}
#nav a:hover::before {
    right: 0;
    left: 0;
} 
li {
    list-style: none;
}

/* Header done */


/* page info formatting */

.info {
    width: 800px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(255,255,255);
    display: inline-block;
}

.info h2 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
	color: #e19d36;
}

.info h3 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
	font-weight: 400;
}

/* attach doggy photo */

.header_dog_1 {
    height: 250px;
    width: 250px;
    background-image: url("images/headerdog1_pose1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 80px;
}
.header_dog_1:hover {
    background-image: url("images/headerdog1_pose2.png");
    background-repeat: no-repeat;
    background-size: cover;
}



/* Footer part*/

#foot {
	height: 60px; 
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgb(255,255,255);
	margin-left: 20%;
}

#foot ul {
	border-radius: 4px;
	overflow: hidden;
}

#foot li {
	float: left;
	width: 20%;
}

#foot a {
	text-decoration: none;
	color: #afd146;
}

#foot .abouts {
	color: #848484;
}

#foot a:hover {
	color: #e19d36;
}

/* Footer done */