body, html {
    height: 100%;
    margin: 0;
    font-family:'DM sans', sans-serif;
    color: #777;
}

/* Header part */

.container {
    max-width: 100%;
    border-radius: 4px;
    background-color: rgb(255,255,255);
}

.header_pic {
    height: 80px;
    width: 500px;
    margin-top: 10px;
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#dogs {
    display: flex;
    justify-content: center;
}

.parallax-1 {
    position: relative;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 70%;
    background-image: url("images/FullSizeRender.png")
}

.head_text {
    width: 500px;
    margin-right: auto;
    margin-left:auto;
    padding-top: 100px;
}

.head_text h1 {
    color: white;
}

.bigger {
    font-size: 20px;
    color: white;
}

.smaller {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#nav {
    height: 60px; 
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255,255,255);
}

#nav ul {
    border-radius: 4px;
    overflow: hidden;
}

#nav li {
    float: left;
    width: 20%;
}

#nav li:hover a::before {
    right: 0;
    left: 0;
}

#nav .inactive a {
    color: #848484;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

#nav .active a {
    color: #afd146;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

#nav a:hover {
    color:  #e19d36;
}

#nav a::before {
    content: "";
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e19d36;
}

#nav a:hover::before {
    right: 0;
    left: 0;
} 

li {
    list-style: none;
}

/* Header done */


/* gallery  https://www.w3schools.com/Css/css_image_gallery.asp */
#showcase {
    background-color:  rgb(255, 255, 255);
    min-height: 100%;
}

.textcontain {
    display: block;
    background-color: white;
    max-width: 95%;
    height: 1400px;
    margin-left: 100px;
    margin-right: auto;
}

div.gallery {
    margin: 10px;
    border: 4px solid white;
    border-radius: 4px;
    float: left;
    width: 250px;
    transition: all 0.3s ease;
}

div.gallery_top{
    margin: 10px;
    margin-top: 50px;
    border: 4px solid white;
    float: left;
    width: 250px;
    transition: all 0.3s ease;
}

div.gallery_rowstart {
    margin: 10px;
    margin-left:80px;
    border: 4px solid white;
    float: left;
    width: 250px;
    transition: all 0.3s ease;
}

div.gallery_rowstart_top {
    margin: 10px;
    margin-top: 50px;
    margin-left:80px;
    border: 4px solid white;
    float: left;
    width: 250px;
    transition: all 0.3s ease;
}

div.gallery:hover, div.gallery_top:hover, div.gallery_rowstart:hover, div.gallery_rowstart_top:hover {
    border: 4px solid #e19d36;
    border-radius: 4px;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

.img {
    position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}


/* popups for every dog - bg container */
.afghan-hound-modal, .basset-hound-modal, .beagle-modal, .bloodhound-modal, .border-collie-modal, .boston-terrier-modal,
.bulldog-modal, .chihuahua-modal, .dachshund-modal, .dalmatian-modal, .golden-retriever-modal, .greyhound-modal,
.maltese-modal, .pekingnese-modal, .poodle-modal, .shih-tzu-modal{
	width:100%;
	height:321%;
	background-color: rgba(0, 0, 0, 0.42);
	position: absolute;
	top:0;
	justify-content:center;
	align-items:center;
	display: none;
}

/* popup content */
.modal-content{
	width:500px;
	height:780px;
	background-color:white;
	opacity:1;
	border-radius:10px;
	text-align:left;
	padding: 20px;
	position:relative;
}

.modal-content h1 {
    color: #e19d36;
}

.modal-content h3 {
    color: #afd146;
}

/* X button to close the popup */
.afghan-close, .basset-close, .beagle-close, .bloodhound-close, .border-collie-close, .boston-terrier-close, .bulldog-close,
.chihuahua-close, .dachshund-close, .dalmatian-close, .golden-retriever-close, .greyhound-close, .maltese-close,
.pekingnese-close, .poodle-close, .shih-tzu-close {
	position:absolute;
	top:0;
	right:14px;
	font-size:42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.results {
	margin-left:500px;
}


/* footer */

#foot {
    height: 60px; 
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255,255,255);
    margin-left: 20%;

}

#foot ul {
    border-radius: 4px;
    overflow: hidden;
}

#foot li {
    float: left;
    width: 20%;
}

#foot a {
	text-decoration: none;
	color: #afd146;
}

#foot a:hover {
	color:  #e19d36;
}

/* footer done */