body, html {
    height: 100%;
    margin: 0;
    font-family:'DM sans', sans-serif;
    color: #777;
}

/* Header part */
.container {
    max-width: 100%;
    border-radius: 4px;
    background-color: rbg(255,255,255);
}

.parallax-1{
    position: relative;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100%;
    background-image: url("images/gosh.png");
  }

#dogs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_welcome{
    height: 200px;
    width: 260px;
    background-image: url("images/headerdog_welcome_pose1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
.header_welcome:hover {
    background-image: url("images/headerdog_welcome_pose2.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.header_dog_1 {
    height: 200px;
    width: 200px;
    background-image: url("images/headerdog1_pose1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 10px;
}
.header_dog_1:hover {
    background-image: url("images/headerdog1_pose2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header_dog_2 {
    height: 200px;
    width: 200px;
    background-image: url("images/headerdog2_pose1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 10px;
}

.header_dog_2:hover {
    background-image: url("images/headerdog2_pose2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#nav {
    height: 80px; 
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255,255,255);

}
#nav ul {
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
}
#nav li {
    float: left;
    width: 20%;
}
#nav li:hover a::before {
    right: 0;
    left: 0;
}
#nav a {
    color: #848484;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
#nav a:hover {
    color:  #e19d36;
}
#nav a::before {
    content: "";
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e19d36;
}
#nav a:hover::before {
    right: 0;
    left: 0;
} 
li {
    list-style: none;
}

/* Header done */

h1 {
    margin-top: 60px;
    font-size: 50px;
}
.tofuchan {
    height: 200px;
    display: inline-block;
    margin-left: 10%;
    padding-top: 10px;
}

.slogan {
    width: 50%;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(255,255,255);
    display: inline-block;
}

.slogan p {
    line-height: 35px;
    font-size: 18px;
}

